@page "/products"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject BlazorApp.Data.ApplicationDbContext DB
@using BlazorApp.Data

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="products/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Prod">
    <PropertyColumn Property="product => product.Name" />

    <TemplateColumn Context="product">
        <a href="@($"products/edit?id={product.Id}")">Edit</a> |
        <a href="@($"products/details?id={product.Id}")">Details</a> |
        <a href="@($"products/delete?id={product.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
